[user]
	name = Daniel Xu
	email = dxu@dxuuu.xyz
[core]
	excludesfile = ~/.gitconf/gitignore
[push]
	default = simple
[sendemail]
	smtpuser = dxu@dxuuu.xyz
	smtpserver = smtp.fastmail.com
	smtpserverport = 587
	smtpencryption = tls
	confirm = auto
